@layer utilities {
  .box-decoration-clone {
    box-decoration-break: clone;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  height: -webkit-fill-available;
  -webkit-tap-highlight-color: transparent;
}

body,
#__next {
  margin: 0;
  min-height: 100%;
  min-height: -webkit-fill-available;
}

body {
  @apply font-body antialiased text-gray-800 bg-gray-50;
}

:focus:not(:focus-visible) {
  outline: none;
}
:focus:not(:focus-visible):-moz-focusring {
  outline: none;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

mark {
  @apply rounded bg-gray-300 p-1 inline break-words box-decoration-clone;
}
