name: Validate

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}-validate"
  cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  changes:
    name: Check changed files
    runs-on: ubuntu-24.04

    outputs:
      src: ${{ steps.filter.outputs.src }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            src:
              - '!(content|public)/**'

  validate:
    name: Validate
    needs: [changes]
    if: ${{ needs.changes.outputs.src == 'true' }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60

    strategy:
      fail-fast: true
      matrix:
        node-version: [24.x]
        os: [ubuntu-24.04]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Format
        run: pnpm run format:check

      # - name: Lint
      #   run: pnpm run lint:check

      # - name: Typecheck
      #   run: pnpm run types:check

  build-deploy:
    name: Build and deploy
    needs: [validate]
    # @see https://github.com/orgs/community/discussions/45058
    if: ${{ github.event_name == 'push' && !failure() && !cancelled() }}
    uses: ./.github/workflows/build-deploy.yml
    secrets: inherit
    # https://docs.github.com/en/actions/using-workflows/reusing-workflows#access-and-permissions
    permissions:
      contents: read
      packages: write
